/**
 * filename: MainContentWithSidebar.css
 * author: Morgan Wall
 * date: 12-4-2014
 * 
 * The external CSS stylesheet defining the main content area (with a sidebar) 
 * of a web page for the EducationOverflow website created for the INB373 project.
 */

/**
 * Contents:
 *
 * 1. Main content styles
 * 2. Side bar styles
 */

/**
 * 1. Main content styles
 */

#main-content-body {
	margin: 1em 0.83333333% 1em 1.66666667%;
    padding: 0 1.25% 0.5em 0;
	width: 61.25%;
	float: left;
	height: 100%;
}

/**
 * 2. Side bar styles
 */

#sidebar {
	margin: 1em 1.66666667% 1em 0.83333333%;
    padding: 0.5em 1.25% 0.5em 1.25%;
	width: 27.5%;
	float: right;
    background-color: #D9D5CA;
}