<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <authentication mode="Forms" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <!-- Specify the default app theme -->
      <pages theme="DefaultTheme" />

      <!-- Specify data store used for membership -->
      <membership>
        <providers>
          <clear/>
          <add name="AspNetSqlMembershipProvider"
               type="System.Web.Security.SqlMembershipProvider"
               connectionStringName="EducationOverflowConnectionString"
               enablePasswordRetrieval="false"
               enablePasswordReset="true"
               requiresQuestionAndAnswer="false"
               requiresUniqueEmail="false"
               maxInvalidPasswordAttempts="5"
               minRequiredPasswordLength="6"
               minRequiredNonalphanumericCharacters="0"
               passwordAttemptWindow="10"
               applicationName="/"/>
        </providers>
      </membership>

      <!-- Specify data store used for profiles -->
      <profile>
        <providers>
          <clear/>
          <add name="AspNetSqlProfileProvider"
               type="System.Web.Profile.SqlProfileProvider"
               connectionStringName="EducationOverflowConnectionString"
               applicationName="/"/>
        </providers>
      </profile>

      <!-- Specify data store used for role management -->
      <roleManager enabled="true">
        <providers>
          <clear />
          <add connectionStringName="EducationOverflowConnectionString"
            applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
          <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
            type="System.Web.Security.WindowsTokenRoleProvider" />
        </providers>
      </roleManager>
    </system.web>

    <!-- Disable unobtrusive validation (required for form validation) -->
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

  <!-- Specify connection string for MS SQL database -->
  <connectionStrings>
    <add name="EducationOverflowConnectionString"
         connectionString="Server=MORGAN-PC;Database=EducationOverflow;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
