<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <!-- Specify connection string for MS SQL database -->
  <connectionStrings>
    <add name="EducationOverflowConnectionString"
         connectionString="Server=MORGAN-PC;Database=EducationOverflow;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Disable unobtrusive validation (required for form validation) -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

    <system.web>

      <!-- Specify application framework settings -->
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <!-- Specify Forms Authentication for the application -->
      <authentication mode="Forms">
        <forms loginUrl="~/Login.aspx" timeout="3000" />
      </authentication>

      <!-- Specify the default app theme -->
      <pages theme="DefaultTheme" />

      <!-- Specify the custom membership provider -->
      <membership defaultProvider="CustomMembershipProvider">
        <providers>
          <clear/>
          <add name="CustomMembershipProvider"
              type="Business.CustomMembershipProvider"
              connectionStringName="EducationOverflowConnectionString"
              enablePasswordRetrieval="false"
              enablePasswordReset="true"
              requiresQuestionAndAnswer="false"
              requiresUniqueEmail="false"
              passwordformat="Encrypted"
              maxInvalidPasswordAttempts="5"
              minRequiredPasswordLength="6"
              minRequiredNonalphanumericCharacters="0"
              passwordAttemptWindow="10"
              applicationName="educationoverflow" />
        </providers>
      </membership>
      
      <!-- Specify the custom role provider -->
      <roleManager enabled="true" defaultProvider="CustomRoleProvider">
        <providers>
          <clear/>
          <add name="CustomRoleProvider" 
             applicationName="educationoverflow" 
             type="Business.CustomRoleProvider"
             connectionStringName="EducationOverflowConnectionString"
             enablePasswordRetrieval="false" enablePasswordReset="false"
             requiresQuestionAndAnswer="false" writeExceptionsToEventLog="false" />
        </providers>
      </roleManager>

      <!-- Specify the machine key used to set encryption and decryption methods -->
      <machineKey validationKey="AutoGenerate,IsolateApps"
            decryptionKey="AutoGenerate,IsolateApps"
            validation="SHA1" decryption="Auto" />

    </system.web>
</configuration>
