<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <!-- Specify connection string for MS SQL database -->
  <connectionStrings>
    <add name="EducationOverflowConnectionString"
         connectionString="Server=MORGAN-PC;Database=EducationOverflow;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Disable unobtrusive validation (required for form validation) -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>

      <!-- Specify application framework settings -->
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <!-- Specify Forms Authentication for the application -->
      <authentication mode="Forms">
        <forms loginUrl="~/Login.aspx" timeout="3000" />
      </authentication>

      <!-- Specify the default app theme -->
      <pages theme="DefaultTheme" />

      <!-- Specify the custom membership provider -->
      <membership defaultProvider="CustomMembershipProvider">
        <providers>
          <clear/>
          <add name="CustomMembershipProvider"
              type="Business.CustomMembershipProvider"
              connectionStringName="EducationOverflowConnectionString"
              enablePasswordRetrieval="false"
              enablePasswordReset="true"
              requiresQuestionAndAnswer="false"
              requiresUniqueEmail="false"
              passwordformat="Encrypted"
              maxInvalidPasswordAttempts="5"
              minRequiredPasswordLength="6"
              minRequiredNonalphanumericCharacters="0"
              passwordAttemptWindow="10"
              applicationName="educationoverflow" />
        </providers>
      </membership>
      
      <!-- Specify the custom role provider -->
      <roleManager enabled="true" defaultProvider="CustomRoleProvider">
        <providers>
          <clear/>
          <add name="CustomRoleProvider" 
             applicationName="educationoverflow" 
             type="Business.CustomRoleProvider"
             connectionStringName="EducationOverflowConnectionString"
             enablePasswordRetrieval="false" enablePasswordReset="false"
             requiresQuestionAndAnswer="false" writeExceptionsToEventLog="false" />
        </providers>
      </roleManager>

      <!-- Specify the machine key used to set encryption and decryption methods 
           Source: http://www.developerfusion.com/tools/generatemachinekey/
      -->
      <machineKey validationKey="AD11C2B080E5B8873F5D226E04D55D60EE281FAFDA6650ED4C5271E173B7665388D9AD33EF62DCAD806908E4B2121BADEA145D6102A3C17CFE445C4CC8D2D44E" 
                  decryptionKey="F5D7C70FB7228AEB28900BA7F3F2C6EE76F2A2D4E8DFE2BC6D65237BC8EDED13" 
                  validation="SHA1" decryption="AES" />

  </system.web>

  <!-- Specify role restrictions to folders -->
  <location path="Content/MemberPages">
    <system.web>
      <authorization>
        <allow roles="user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Content/AdminPages">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Content/MemberAndAdminPages">
    <system.web>
      <authorization>
        <allow roles="user,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
