/**
 * filename: DefaultTheme.css
 * author: Morgan Wall
 * date: 16-3-2014
 * 
 * The core external CSS stylesheet defining the DefaultTheme theme as part of
 * the EducationOverflow website created for the INB373 project.
 */

/**
 * Contents:
 *
 * 1. Basic styles
 * 2. Structure styles
 * 3. Status bar styles
 * 4. Header styles
 * 5. Navigation bar styles
 * 6. Main content styles
 * 7. Side bar styles
 * 8. Footer styles
 * 9. Miscellaneous styles
 * 10. Forms
 */

/**
 * 1. Basic styles
 */

a {
    color: #93425A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    color: #93425A;
	font-size: 1.75em;
}

h2 {
    margin: 0;
    color: #93425A;
	font-size: 1.5em;
}

h3 {
    margin: 0;
    color: #93425A;
	font-size: 1.25em;
}

h4 {
    margin: 0;
    color: #606060;
	font-size: 1.10em;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font: 100%/1.5 sans-serif;
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    background-color: #D9D5CA;
}

/**
 * 2. Structure styles
 */

.wrapper {
	width: 100%;
}

.wrapper-content {
	margin-left: auto;
	margin-right: auto;
	min-width: 240px;
	max-width: 1000px;
	overflow: auto;
}

/**
 * 3. Status bar styles
 */

#status-bar-wrapper {
	background-color: #606060;
}

#status-bar {
    padding: 2px 3% 2px 0;
    text-align: right;
	color: #FFFFFF;
    font-size: 0.95em;
}

.status-bar-item {
    display: inline;
    margin: 0 0 0 1em;
}

#status-bar a {
    color: #FFFFFF;
}

#status-bar a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/**
 * 4. Header styles
 */

#header-wrapper {
	background-color: #D9D5CA;
}

#header-wrapper h1 {
    margin-top: 7px;
    font-size: 3em;
    font-family: Verdana, Arial, sans-serif;
    color: #93425A;
}

/**
 * 5. Navigation bar styles
 */

#navigation-wrapper {
	background-color: #D9D5CA;
}

#navigation-bar-left {
    text-align: left;
    width: 60%;
    float: left;
}

#navigation-bar-right {
    padding: 0 2.5% 0 0;
    text-align: right;
    width: 35%;
    float: right;
}

.navigation-bar {}

.navigation-bar ul {
	margin: 0 0 0 4px;
	padding: 0;
}

.navigation-bar ul li {
	display: inline-block;
    margin-right: 20px;
}

.navigation-bar ul li a {
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 1.25em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
	text-decoration: none;
	color: #606060;
}

.navigation-bar ul li a:hover {
    color: #93425A;
}

/**
 * 6. Main content styles
 */

#main-content-wrapper {
	background-color: #F8F8F1;
}

#main-content {
	background-color: #F8F8F1;
}

#main-content-body {
	margin: 1em 0.83333333% 1em 1.66666667%;
    padding: 0 1.25% 0.5em 0;
	float: left;
	height: 100%;
}

.content-body-with-sidebar {
    width: 61.25%;
}

.content-body-without-sidebar {
    width: 96.25%;
}

/**
 * 7. Side bar styles
 */

#sidebar {
	margin: 1em 1.66666667% 1em 0.83333333%;
    padding: 0.5em 1.25% 0.5em 1.25%;
	width: 27.5%;
	float: right;
    background-color: #D9D5CA;
}

/**
 * 8. Footer styles
 */

footer {
    padding: 0.75em 0 0.75em 0;
    height: 50px;
	background-color: #D9D5CA;
    color: #606060;
    font-size: 0.8em;
    font-weight: bold;
}

/**
 * 9. Miscellaneous styles
 */

.login-button {
    color: #FFFFFF;
    text-decoration: none;
}

.login-button:hover {
    color: #93425A;
    text-decoration: none;
}

.question-title {
    font-size: 0.90em;
    font-weight: 400;
    padding: 5px 0 5px 0;
}

/**
 * 10. Forms
 */

#form {
    height: 100%;
	margin: 0;
	padding: 0;
}